
    <!-- page footer  -->
    <div class="container-fluid bg-dark text-light has-height-md middle-items border-top text-center wow fadeIn">
        <div class="row">
            <div class="col-sm-4">
                <h3>CONTACTANOS</h3>
                <P class="text-muted">carlosjosue@gmail.com</P>
            </div>
            <div class="col-sm-4">
                <h3>LLAMANOS</h3>
                <P class="text-muted">0969089092</P>
            </div>
            <div class="col-sm-4">
                <h3>ENCUENTRANOS</h3>
                <P class="text-muted">Ciudad Universitaria  Guillermo Falconí - Loja - Ecuado</P>
            </div>
        </div>
    </div>
    <div class="bg-dark text-light text-center border-top wow fadeIn">
        <p class="mb-0 py-3 text-muted small">&copy; Copyright <script>document.write(new Date().getFullYear())</script> Made with <i class="ti-heart text-danger"></i> By <a href="http://devcrud.com">DevCRUD</a></p>
    </div>
    <!-- end of page footer -->
